body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto", Oxygen,
    Ubuntu, Arial, sans-serif;
}

.alert-container {
  font-size: .9em;
  font-family: "Segoe UI", "Roboto", Arial, sans-serif;
}

.navbar {
  background-color: rgb(12, 109, 189);
  min-height: 70px;
}

footer {
  font-size: 14px;
  height: 24vh;
  width: 100%;
  background-color: rgb(235, 235, 235);
}
footer a {
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: rgb(7, 105, 233);
  text-decoration: underline;
}