body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Roboto", Arial, sans-serif;
}

/********** NAVBAR styling **********/
.navbar {
  background-color: rgb(12, 109, 189);
  min-height: 70px;
}

.custom-select {
  width: 14rem;
}

/********** card styling **********/

.card-img-top {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

/********** Footer **********/
footer {
  font-size: 14px;
  height: 24vh;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

footer a {
  color: rgb(0, 0, 0);
}
footer a:hover {
  color: rgb(7, 105, 233);
  text-decoration: underline;
}
